should show
{{#if shouldShow}}



  <div class="custom-category-columns">
    {{#if topicList1}}
      <div class="custom-category-column">
        <div class="header-wrapper">
          <h2>
            <a
              href="{{if
                (theme-setting 'topic_list_tag_1_link')
                (theme-setting 'topic_list_tag_1_link')
              }}"
            >{{theme-setting 'topic_list_tag_1_title'}}</a>
          </h2>
        </div>
        {{topic-list topics=topicList1 showPosters=false}}
      </div>
    {{/if}}
    {{#if topicList2}}
      <div class="custom-category-column">
        <div class="header-wrapper">
          <h2>
            <a
              href="{{if
                (theme-setting 'topic_list_tag_2_link')
                (theme-setting 'topic_list_tag_2_link')
              }}"
            >{{theme-setting 'topic_list_tag_2_title'}}</a>
          </h2>
        </div>
        {{topic-list topics=topicList2 showPosters=false}}
      </div>
    {{/if}}

    {{#if topicList3}}
      <div class="custom-category-column">
        <div class="header-wrapper">
          <h2>
            <a
              href="{{if
                (theme-setting 'topic_list_tag_3_link')
                (theme-setting 'topic_list_tag_3_link')
              }}"
            >{{theme-setting 'topic_list_tag_3_title'}}</a>
          </h2>
        </div>
        {{topic-list topics=topicList3 showPosters=false}}
      </div>
    {{/if}}
  </div>

  {{#if filteredSetting.banner_text}}
    <div class="custom-category-banner-below">
      <h3>{{filteredSetting.banner_text}}</h3>
      <a
        href="{{filteredSetting.banner_link}}"
        class="btn btn-primary btn-text"
      >{{filteredSetting.button_text}}</a>
    </div>
  {{/if}}

{{/if}}